<!doctype html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<meta name="msapplication-TileColor" content="#0061da">
		<meta name="theme-color" content="#1643a3">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

		<!-- Title -->
		<title>경제정보</title>
		
		<!-- Dashboard css -->
		<link href="static/assets/css/dashboard.css" rel="stylesheet" />
		
		<!-- Font family -->
		<link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">

		<!-- C3 Charts css -->
		<link href="static/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />
		
		<!-- Custom scroll bar css-->
		<link href="static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />
		
		<!--Horizontal css-->
        <link href="static/assets/plugins/horizontal-menu/dropdown-effects/fade-down.css" rel="stylesheet" />
        <link href="static/assets/plugins/horizontal-menu/horizontal.css" rel="stylesheet" />

		<!---Font icons css-->
		<link href="static/assets/plugins/iconfonts/plugin.css" rel="stylesheet" />
		<link  href="static/assets/fonts/fonts/font-awesome.min.css" rel="stylesheet">

	</head>
	
	<body class="app sidebar-mini rtl">
		<div id="global-loader" ></div>
		<div class="page">
			<div class="page-main">
                <!-- content-area-->
				<div class="content-area">
					<div class="container">

					    <!-- page-header -->
						<div class="page-header">
							<h4 class="page-title">경제정보</h4>
						</div>
						<!-- page-header end -->

						<!-- row -->
						<div class="row">
								<div class="col-lg-12">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">날자</h3>
										</div>
										<div class="card-body">
											<div class="form-group">
												<label class="form-label">날자</label>
												<input type="text" id="datetime" class="form-control" name="example-text-input" placeholder="년/월/일" value="<%= Date %>">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- row end-->

						<!-- row -->
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">화페환률</h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label class="form-label">유로(EUR)</label>
											<input type="text" id="eur" class="form-control" name="example-text-input" value="<%= EUR %>" placeholder="€">
										</div>
										<div class="form-group">
											<label class="form-label">일본엔(JPY)</label>
											<input type="text" id="jpy" class="form-control" name="example-text-input" value="<%= JPY %>" placeholder="¥">
										</div>
										<div class="form-group">
											<label class="form-label">딸라(USD)</label>
											<input type="text" id="usd" class="form-control" name="example-text-input" value="<%= USD %>" placeholder="$">
										</div>
										<div class="form-group">
											<label class="form-label">루블(RUB)</label>
											<input type="text" id="rub" class="form-control" name="example-text-input" value="<%= RUB %>" placeholder="₽">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- row end-->
						
						<!-- row -->
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">런던금속거래소 금속가격</h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label class="form-label">금</label>
											<input type="text" class="form-control" id="gold" name="example-text-input" value="<%= Gold %>" placeholder="(USD)/kg">
										</div>
										<div class="form-group">
											<label class="form-label">은</label>
											<input type="text" class="form-control" id="silver" name="example-text-input" value="<%= Silver %>" placeholder="(USD)/kg">
										</div>
										<div class="form-group">
											<label class="form-label">백금</label>
											<input type="text" class="form-control" id="platinum" name="example-text-input" value="<%= Platinum %>" placeholder="(USD)/kg">
										</div>
										<div class="form-group">
											<label class="form-label">동</label>
											<input type="text" class="form-control" id="copper" name="example-text-input" value="<%= Copper %>" placeholder="(USD)/kg">
										</div>
										<div class="form-group">
											<label class="form-label">연</label>
											<input type="text" class="form-control" id="lead" name="example-text-input" value="<%= Lead %>" placeholder="(USD)/kg">
										</div>
										<div class="form-group">
											<label class="form-label">아연</label>
											<input type="text" class="form-control" id="zinc" name="example-text-input" value="<%= Zinc %>" placeholder="(USD)/kg">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- row end-->

						<!-- row -->
						<div class="row">
							<div class="col-lg-12">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">연료가격</h3>
									</div>
									<div class="card-body">
										<div class="form-group">
											<label class="form-label">석탄</label>
											<input type="text" class="form-control" id="coal" name="example-text-input" value="<%= Coal %>" placeholder="(USD)/t">
										</div>
										<div class="form-group">
											<label class="form-label">원유(두바이유)</label>
											<input type="text" class="form-control" id="oil" name="example-text-input" value="<%= Oil %>" placeholder="(USD)/t">
										</div>
										<div class="form-group">
											<label class="form-label">휘발유(싼크뜨-뻬쩨르부르그)</label>
											<input type="text" class="form-control" id="petrol" name="example-text-input" value="<%= Gasonline %>" placeholder="$(USD)/t">
										</div>
										<div class="form-group">
											<label class="form-label">디젤유(시카고상품거래소)</label>
											<input type="text" class="form-control" id="diesel" name="example-text-input" value="<%= Diesel %>" placeholder="(USD)/t">
										</div>
										<div class="form-group">
											<label class="form-label">중유(싼크뜨-뻬쩨르부르그)</label>
											<input type="text" class="form-control" id="heavy" name="example-text-input" value="<%= Midoil %>" placeholder="(USD)/t">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- row end-->

						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<button class="btn btn-danger" data-toggle="modal" data-target="#largeModal" id="btn_output">종합</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- end content-area-->
			</div>
		</div>
		<!-- End Page -->

		<!-- Large Modal -->
		<div id="largeModal" class="modal fade">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content ">
					<div class="modal-header pd-x-20">
						<h6 class="modal-title">경제정보</h6>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body pd-20">
						<p id="output"></p>
					</div><!-- modal-body -->
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div><!-- modal-dialog -->
		</div><!-- modal -->
		
		<!-- Back to top -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

		<!-- Jquery js-->
		<script src="static/assets/js/vendors/jquery-3.2.1.min.js"></script>
		
		<!--Bootstrap js-->
		<script src="static/assets/js/vendors/bootstrap.bundle.min.js"></script>
		
		<!--Jquery Sparkline js-->
		<script src="static/assets/js/vendors/jquery.sparkline.min.js"></script>
		
		<!-- Chart Circle js-->
		<script src="static/assets/js/vendors/circle-progress.min.js"></script>
		
		<!-- Star Rating js-->
		<script src="static/assets/plugins/rating/jquery.rating-stars.js"></script>
		
		<!-- Custom scroll bar js-->
		<script src="static/assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
		
		<!--Horizontal js-->
		<script src="static/assets/plugins/horizontal-menu/horizontal.js"></script>

		<!-- Custom js -->
		<script src="static/assets/js/custom.js"></script>
		
		<script lang="javascript">
			$("#btn_output").click(function(){
				var text = "안녕하십니까,</br>";
				text += $("#datetime").val()+"현재의 중국은행 화페환률정보는 다음과 같습니다.</br>";
				text += "유로(EUR) : 딸라(USD) : 중국웬(CNY) : 일본엔(JPY) : 루블(RUB)="+$("#eur").val()/$("#eur").val()+" : "+($("#eur").val()/$("#usd").val()).toString().substring(0,5)+" : "+($("#eur").val()/100).toString().substring(0,5)+" : "+($("#eur").val()/$("#jpy").val()).toString().substring(0,5)+" : "+($("#eur").val()/$("#rub").val()).toString().substring(0,5)+"</br>";
				text += "</br>";
				text += "현재의 런던금속거래소 금가격은 다음과 같습니다.</br>";
				text += "금:"+(32.15*$("#gold").val()).toString().substring(0,12)+"$(USD)/kg</br>";
				text += "백금:"+(32.15*$("#platinum").val()).toString().substring(0,12)+"$(USD)/kg</br>";
				text += "현재의 런던금속시장 가격정보는 다음과 같습니다.</br>";
				text += "은:"+(32.15*$("#silver").val()).toString().substring(0,8)+"$(USD)/kg</br>";
				text += "동:"+(2.20462*$("#copper").val()).toString().substring(0,6)+"$(USD)/kg</br>";;
				text += "연:"+(2.20462*$("#lead").val()).toString().substring(0,6)+"$(USD)/kg</br>";;
				text += "아연:"+(2.20462*$("#zinc").val()).toString().substring(0,6)+"$(USD)/kg</br>";;
				text += "현재의 연료가격은 다음과 같습니다.</br>";
				text += "석탄"+$("#coal").val()+"$(USD)/t</br>";
				text += "원유(두바이유)"+(7.33*$("#oil").val())+"$(USD)/t</br>";
				text += "휘발유(싼크뜨-뻬쩨르부르그)"+(1356.447179104478*$("#petrol").val()).toString().substring(0,10)+"$(USD)/t</br>";
				text += "디젤유(시카고상품거래소)"+(28.42714214182888*$("#diesel").val()).toString().substring(0,10)+"$(USD)/t</br>";
				text += "중유(싼크뜨-뻬쩨르부르그)"+($("#heavy").val()).toString().substring(0,10)+"$(USD)/t</br>";
				text += "이상입니다.";
				$("#output").html(text);
			});
		</script>

	</body>
</html>


